<div class="bg-surface-900 text-white">

  <!-- Hero Section -->
  <section class="relative w-full h-screen bg-surface-900 overflow-hidden">
    <!-- Header/Navigation -->
    <app-header />


    <div class="absolute inset-0 bg-cover bg-center z-0 transition-all duration-500 ease-in-out"
      [style]="'background-image: url(' + currentBackgroundImage + '); background-blend-mode: overlay; background-color: rgba(0,0,0,0.2);'">
    </div>

    <div class="relative z-10 h-full flex flex-col justify-center items-center px-2">

      <div class="w-full ml-4 md:ml-16 lg:ml-36">
        <div class="max-w-fit backdrop-blur-sm px-2 rounded-lg">
          <div class="">
            <img src="../../../../../assets/svg/isotipo.svg" alt="Logo aloha restobar" width="320">
          </div>
        </div>
      </div>

      <div class="w-full ml-4 md:ml-16 lg:ml-36 mb-8">
        <div class="grid grid-cols-1 md:grid-cols-2 space-x-8 mt-6 max-w-fit backdrop-blur-sm p-2 rounded-lg">
          <div class="flex items-center mt-1">
            <i class="pi pi-clock text-primary mr-2 text-lg"></i>
            <span>5PM - 12AM</span>
          </div>
          <div class="flex items-center mt-1">
            <i class="pi pi-map-marker text-primary mr-2 text-lg"></i>
            <a href="https://maps.app.goo.gl/x6JWCw2SRvKPNWASA" target="_blank">Jr. Cusco N° 246, Ayacucho, Peru</a>
          </div>
        </div>
      </div>

      <div class="w-full ml-4 md:ml-16 lg:ml-36">
        <a class="mt-12 border border-gray-200 hover:border-green-500 hover:bg-green-500 p-4
        transition-colors cursor-pointer rounded-lg"
          href="https://wa.me/51955051526?text=¡Hola%20Aloha%20Restobar!%20%20Me%20encantaría%20reservar%20una%20mesa%20para%20disfrutar%20de%20su%20deliciosa%20comida.%20¿Tienen%20disponibilidad%20para%20este%20día?"
          target="_blank">
          Consultar disponibilidad
          <i class="pi pi-arrow-right ms-1"></i>
        </a>
      </div>

      <div class="w-full ml-4 md:ml-16 lg:ml-36 mt-12 inline md:hidden">
        <div class="flex space-x-4 max-w-fit backdrop-blur-sm px-2 py-1 rounded-lg">
          <a href="https://www.tiktok.com/@aloha.restobar" target="_blank"
            class="w-8 h-8 rounded-full flex items-center justify-center hover:bg-white hover:text-pink-400">
            <i class="pi pi-tiktok hover:text-pink-400 text-2xl"></i>
          </a>
          <a href="https://www.facebook.com/share/16HoCToW8d/?mibextid=wwXIfr" target="_blank"
            class="w-8 h-8 rounded-full flex items-center justify-center hover:bg-white hover:text-blue-400">
            <i class="pi pi-facebook hover:text-blue-400 text-2xl"></i>
          </a>
          <a href="https://www.instagram.com/aloha.restobarpe" target="_blank"
            class="w-8 h-8 rounded-full flex items-center justify-center hover:bg-white hover:text-pink-500">
            <i class="pi pi-instagram hover:text-pink-500 text-2xl"></i>
          </a>
          <!-- <a href="tel:955051526" target="_blank"
          class="w-8 h-8 rounded-full bg-gray-400 flex items-center justify-center">
          <i class="pi pi-phone text-white text-2xl"></i>
        </a> -->
          <a href="https://wa.me/51955051526" target="_blank"
            class="w-8 h-8 rounded-full flex items-center justify-center hover:bg-white hover:text-green-500">
            <i class="pi pi-whatsapp hover:text-green-500 text-2xl"></i>
          </a>
        </div>
      </div>

    </div>
  </section>

  <!-- Menu Section -->
  <section class="py-16 px-6 bg-surface-900">
    <h2 class="text-4xl md:text-5xl font-bold text-center mb-8">Nuestras especialidades</h2>

    <div class="flex flex-wrap justify-center py-4">
      <!-- Tag "Todas" -->
      <p-tag icon="pi pi-objects-column me-1" class="m-2 cursor-pointer"
        [severity]="categorias_select().length === 0 ? 'success' : 'secondary'" value="Todas"
        (click)="seleccionarTodas()" />

      <!-- Tags de categorías -->
      @for (categoria of categorias(); track categoria._id) {
      <p-tag [icon]="esCategoriaSeleccionada(categoria._id) ? 'pi pi-circle-on me-1' : 'pi pi-circle-off me-1'"
        class="m-2 cursor-pointer" [severity]="esCategoriaSeleccionada(categoria._id) ? 'success' : 'secondary'"
        [value]="categoria.descripcion" (click)="seleccionarCategoria(categoria._id)" />
      }
    </div>

    <div class="card">

      @if (loading()) {
      <div class="col-span-full text-center">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        <p>Cargando...</p>
      </div>
      }

      @if (!loading()) {
      <p-carousel [value]="platos()" [numVisible]="3" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions" autoplayInterval="5000">
        <ng-template let-product #item>
          <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
            <div class="mb-4">
              <div class="relative mx-auto">
                <img [src]="product.galeria[0] | cloudinaryImage:400:'avif'" [alt]="product.nombre"
                  class="w-full rounded-border" />
              </div>
            </div>
            <div class="mb-4 font-medium">{{ product.nombre }}</div>
            <div class="flex justify-between items-center">
              <div class="mt-0 font-medium text-lg">{{ product.precio | currency: 'S/ ' }}</div>
              <span>

                <a href="https://wa.me/51955051526?text=¡Hola%20Aloha%20Restobar!%20%20Me%20encantaría%20saber%20si%20tienen%20disponible%20el%20plato%20'{{product.nombre}}'"
                  target="_blank">
                  <p-button label="Consultar" icon="pi pi-whatsapp" styleClass="ml-2" outlined="true" severity="success"
                    iconPos="right" />
                </a>
              </span>
            </div>
          </div>
        </ng-template>
      </p-carousel>
      }

    </div>
  </section>

  <!-- Ingredients Section -->
  <section class="py-20 px-6 bg-surface-800 relative">
    <div class="mx-auto text-center">
      <h2 class="text-4xl font-bold mb-8">Nuestra galería</h2>
      <div class="card">
        <p-carousel [value]="images" [numVisible]="3" [numScroll]="3" [circular]="true"
          [responsiveOptions]="responsiveOptions" autoplayInterval="5000">
          <ng-template let-item #item>
            <div class="m-2 p-4">
              <div class="mb-4">
                <div class="relative mx-auto">
                  <img [src]="item | cloudinaryImage:400:'avif'" [alt]="'Galería Aloha'"
                    class="w-full rounded-border" />
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </section>

  <!-- Comments Section -->
  <section class="py-20 px-6 bg-surface-900 relative">
    <div class="max-w-5xl mx-auto">
      <h2 class="text-4xl font-bold mb-8">Nuestros clientes dicen</h2>
      <p class="text-gray-300 mb-8">
        Opiniones y calificaciones sinceras de nuestros clientes.
      </p>

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <!-- Comment 1 -->
        <div class="rounded-lg bg-surface-800 p-4">
          <div class="flex justify-between">
            <span class="font-semibold">Junior Pariona</span>
            <span>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-fill text-primary"></i>
            </span>
          </div>

          <p class="text-sm mt-2">
            La comida fue simplemente espectacular; cada plato estaba lleno de sabor y presentado de manera impecable.
            El personal fue muy atento y profesional, siempre asegurándose de que todo estuviera perfecto.
          </p>
        </div>

        <!-- Comment 2 -->
        <div class="rounded-lg bg-surface-800 p-4">
          <div class="flex justify-between">
            <span class="font-semibold">Robert Mendez</span>
            <span>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-half-fill text-primary"></i>
            </span>
          </div>

          <p class="text-sm mt-2">
            ¡Qué delicia de lugar! El ambiente es relajado y perfecto para una cena en pareja o con amigos. La carta
            ofrece una gran variedad de opciones y todas las que probamos fueron deliciosas.
          </p>
        </div>
        <!-- Comment 1 -->
        <div class="rounded-lg bg-surface-800 p-4">
          <div class="flex justify-between">
            <span class="font-semibold">Jhon Quispe</span>
            <span>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star-fill text-primary me-1"></i>
              <i class="pi pi-star text-primary"></i>
            </span>
          </div>

          <p class="text-sm mt-2">
            La comida era deliciosa y se notaba que estaba hecha con ingredientes frescos y de alta calidad. El personal
            fue muy atento y nos hicieron sentir muy bienvenidos. El ambiente era moderno perfecto para una
            noche con amigos.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Map Section -->
  <section class="py-20 px-6 bg-surface-900 relative">
    <div class="container mx-auto">
      <div class="flex justify-between items-center mb-8">
        <div class="flex items-center">
          <i class="pi pi-map-marker ml-2 text-3xl"></i>
        </div>
        <h2 class="text-3xl">Ubícanos</h2>
      </div>

      <div class="">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d261.46825495955324!2d-74.2233676!3d-13.160347!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91127d694c469d45%3A0xfb4773f14dff5048!2sSUMAQ%20KILLA%20KARAOKE%20RESTOBAR!5e1!3m2!1ses-419!2spe!4v1757865035964!5m2!1ses-419!2spe"
          height="450" style="border:0; width:100%;" allowfullscreen="true" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade" class="rounded-lg"></iframe>
      </div>
    </div>
  </section>

  <!-- Chars section -->
  <section class="py-20 px-6 bg-surface-800 relative">
    <div class="container max-w-3xl mx-auto ">
      <h2 class="text-4xl mb-8">¿Por qué elegirnos?</h2>

      <div>
        <p class="mb-8">
          Nuestro restobar se distingue por ofrecer una experiencia gastronómica única donde las alitas de pollo son
          las protagonistas. Cada receta ha sido cuidadosamente perfeccionada para garantizar el equilibrio perfecto
          entre sabor, textura y presentación.
        </p>

        <div class="grid grid-cols-2 gap-6">
          <div class="flex items-start mb-4">
            <div class="text-primary mr-3">
              <i class="pi pi-home w-8 h-8 flex items-center justify-center text-xl"></i>
            </div>
            <p class="text-gray-300">Ambiente acogedor y música seleccionada.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-primary mr-3">
              <i class="pi pi-heart w-8 h-8 flex items-center justify-center text-xl"></i>
            </div>
            <p class="text-gray-300">Ingredientes frescos y de primera calidad.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-primary mr-3">
              <i class="pi pi-star w-8 h-8 flex items-center justify-center text-xl"></i>
            </div>
            <p class="text-gray-300">Salsas caseras con recetas exclusivas.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-primary mr-3">
              <i class="pi pi-check-circle w-8 h-8 flex items-center justify-center text-xl"></i>
            </div>
            <p class="text-gray-300">Servicio atento y personalizado.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-primary mr-3">
              <i class="pi pi-map-marker w-8 h-8 flex items-center justify-center text-xl"></i>
            </div>
            <p class="text-gray-300">Ubicación estratégica y fácil acceso.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-primary mr-3">
              <i class="pi pi-thumbs-up w-8 h-8 flex items-center justify-center text-xl"></i>
            </div>
            <p class="text-gray-300">Cocciones perfectas y presentaciones únicas.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-primary mr-3">
              <i class="pi pi-clock w-8 h-8 flex items-center justify-center text-xl"></i>
            </div>
            <p class="text-gray-300">Horario extendido para tu comodidad.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-primary mr-3">
              <i class="pi pi-globe w-8 h-8 flex items-center justify-center text-xl"></i>
            </div>
            <p class="text-gray-300">Fusión de sabores internacionales en cada plato.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
