<div class="bg-surface-900 text-white">

  <!-- Hero Section -->
  <section class="relative w-full h-screen bg-surface-900 overflow-hidden">
    <!-- Header/Navigation -->
    <app-header />


    <div class="absolute inset-0 bg-cover bg-center z-0 transition-all duration-500 ease-in-out"
      [style]="'background-image: url(' + currentBackgroundImage + '); background-blend-mode: overlay; background-color: rgba(0,0,0,0.2);'">
    </div>

    <div class="relative z-10 h-full flex flex-col justify-center items-center px-2">

      <div class="w-full">
        <div class="max-w-fit backdrop-blur-sm px-2 rounded-lg">
          <div class="">
            <img src="../../../../../assets/svg/isotipo.svg" alt="Logo aloha restobar" width="320">
          </div>
        </div>
      </div>

      <div class="w-full mb-8">
        <div class="grid grid-cols-1 md:grid-cols-2 space-x-8 mt-6 max-w-fit backdrop-blur-sm p-2 rounded-lg">
          <div class="flex items-center mt-1">
            <i class="pi pi-clock text-amber-400 mr-2 text-lg"></i>
            <span>6 PM - 12 AM</span>
          </div>
          <div class="flex items-center mt-1">
            <i class="pi pi-map-marker text-amber-400 mr-2 text-lg"></i>
            <a href="https://maps.app.goo.gl/U4Lhf9ZeVLTGF5996" target="_blank">Jr. Asamblea #433 - 2do Piso</a>
          </div>
        </div>
      </div>

      <div class="w-full">
        <a class="mt-12 border border-gray-200 hover:border-amber-500 hover:bg-amber-500 p-4
        transition-colors cursor-pointer rounded-lg"
          href="https://wa.me/51955051526?text=¡Hola%20Aloha%20Restobar!%20%20Me%20encantaría%20reservar%20una%20mesa%20para%20disfrutar%20de%20su%20deliciosa%20comida.%20¿Tienen%20disponibilidad%20para%20este%20día?"
          target="_blank">
          Consultar disponibilidad
          <i class="pi pi-arrow-right ms-1"></i>
        </a>
      </div>

      <div class="w-full mt-12 inline md:hidden">
        <div class="flex space-x-4 max-w-fit backdrop-blur-sm px-2 py-1 rounded-lg">
          <a href="https://www.tiktok.com/@aloha.restobar" target="_blank"
            class="w-8 h-8 rounded-full flex items-center justify-center hover:bg-white hover:text-pink-400">
            <i class="pi pi-tiktok hover:text-pink-400 text-2xl"></i>
          </a>
          <a href="https://www.facebook.com/share/16HoCToW8d/?mibextid=wwXIfr" target="_blank"
            class="w-8 h-8 rounded-full flex items-center justify-center hover:bg-white hover:text-blue-400">
            <i class="pi pi-facebook hover:text-blue-400 text-2xl"></i>
          </a>
          <a href="https://www.instagram.com/aloha.restobarpe" target="_blank"
            class="w-8 h-8 rounded-full flex items-center justify-center hover:bg-white hover:text-pink-500">
            <i class="pi pi-instagram hover:text-pink-500 text-2xl"></i>
          </a>
          <!-- <a href="tel:955051526" target="_blank"
          class="w-8 h-8 rounded-full bg-gray-400 flex items-center justify-center">
          <i class="pi pi-phone text-white text-2xl"></i>
        </a> -->
          <a href="https://wa.me/51955051526" target="_blank"
            class="w-8 h-8 rounded-full flex items-center justify-center hover:bg-white hover:text-green-500">
            <i class="pi pi-whatsapp hover:text-green-500 text-2xl"></i>
          </a>
          <a routerLink="/login" class="w-8 h-8 rounded-full flex items-center justify-center">
            <i class="pi pi-sign-in text-2xl"></i>
          </a>
        </div>
      </div>

    </div>
  </section>

  <!-- Menu Section -->
  <section class="py-16 px-6 bg-surface-900">
    <h2 class="text-4xl md:text-5xl font-bold text-center mb-8">Nuestras especialidades</h2>

    <!-- Menu Categories -->
    <div class="flex flex-wrap justify-center gap-8 mb-12">
      <button class="text-gray-400">Alitas</button>
      <button class="text-gray-400">Bebidas</button>
      <button class="text-gray-400">Cócteles</button>
      <button class="text-gray-400">Tropicales</button>
    </div>

    <div class="card">

      @if (loading()) {
      <div class="col-span-full text-center">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        <p>Cargando...</p>
      </div>
      }

      @if (!loading()) {
      <p-carousel [value]="platos()" [numVisible]="3" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions" autoplayInterval="5000">
        <ng-template let-product #item>
          <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
            <div class="mb-4">
              <div class="relative mx-auto">
                <img [src]="product.galeria[0] | cloudinaryImage:400:'avif'" [alt]="product.nombre"
                  class="w-full rounded-border" />
              </div>
            </div>
            <div class="mb-4 font-medium">{{ product.nombre }}</div>
            <div class="flex justify-between items-center">
              <div class="mt-0 font-medium text-lg">{{ product.precio | currency: 'S/ ' }}</div>
              <span>
                <p-button label="Consultar" icon="pi pi-whatsapp" styleClass="ml-2" outlined="true" severity="success"
                  iconPos="right" />
              </span>
            </div>
          </div>
        </ng-template>
      </p-carousel>
      }

    </div>
  </section>

  <!-- Ingredients Section -->
  <section class="py-20 px-6 bg-surface-800 relative">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-4xl font-bold mb-8">Lo mejor para nuestros clientes</h2>
      <p class="text-gray-300 mb-8 text-lg">
        Nos enorgullece enormemente seleccionar cuidadosamente nuestros ingredientes para garantizar que los sabores de
        nuestra comida sean lo más deliciosos y auténticos posible.
      </p>

      <div class="flex flex-wrap justify-center items-center gap-8">
        <img src="../../../../../assets/images/fresh-ingredients.png" width="320" alt="Fresh herb"
          class="object-contain" />
      </div>
    </div>
  </section>

  <!-- Comments Section -->
  <section class="py-20 px-6 bg-surface-900 relative">
    <div class="max-w-5xl mx-auto">
      <h2 class="text-4xl font-bold mb-8">Nuestros clientes dicen</h2>
      <p class="text-gray-300 mb-8">
        Opiniones y calificaciones sinceras de nuestros clientes.
      </p>

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <!-- Comment 1 -->
        <div class="rounded-lg bg-surface-800 p-4">
          <div class="flex justify-between">
            <span class="font-semibold">Junior Pariona</span>
            <span>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-fill text-amber-400"></i>
            </span>
          </div>

          <p class="text-sm mt-2">
            La comida fue simplemente espectacular; cada plato estaba lleno de sabor y presentado de manera impecable.
            El personal fue muy atento y profesional, siempre asegurándose de que todo estuviera perfecto.
          </p>
        </div>

        <!-- Comment 2 -->
        <div class="rounded-lg bg-surface-800 p-4">
          <div class="flex justify-between">
            <span class="font-semibold">Robert Mendez</span>
            <span>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-half-fill text-amber-400"></i>
            </span>
          </div>

          <p class="text-sm mt-2">
            ¡Qué delicia de lugar! El ambiente es relajado y perfecto para una cena en pareja o con amigos. La carta
            ofrece una gran variedad de opciones y todas las que probamos fueron deliciosas.
          </p>
        </div>
        <!-- Comment 1 -->
        <div class="rounded-lg bg-surface-800 p-4">
          <div class="flex justify-between">
            <span class="font-semibold">Jhon Quispe</span>
            <span>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star-fill text-amber-400 me-1"></i>
              <i class="pi pi-star text-amber-400"></i>
            </span>
          </div>

          <p class="text-sm mt-2">
            La comida era deliciosa y se notaba que estaba hecha con ingredientes frescos y de alta calidad. El personal
            fue muy atento y nos hicieron sentir muy bienvenidos. El ambiente era moderno perfecto para una
            noche con amigos.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Map Section -->
  <section class="py-20 px-6 bg-surface-900 relative">
    <div class="container mx-auto">
      <div class="flex justify-between items-center mb-8">
        <div class="flex items-center">
          <i class="pi pi-map-marker ml-2 text-3xl"></i>
        </div>
        <h2 class="text-3xl">Ubícanos</h2>
      </div>

      <div class="">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d261.4730117790286!2d-74.2241722587294!3d-13.155888231290072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91127dbea9857489%3A0xfa67ee6cb2218ffe!2sAloha%20Restobar!5e1!3m2!1ses-419!2spe!4v1747365874383!5m2!1ses-419!2spe"
          height="450" style="border:0; width:100%;" allowfullscreen="true" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade" class="rounded-lg"></iframe>
      </div>
    </div>
  </section>

  <!-- Chars section -->
  <section class="py-20 px-6 bg-surface-800 relative">
    <div class="container max-w-3xl mx-auto ">
      <h2 class="text-4xl mb-8">¿Por qué elegirnos?</h2>

      <div>
        <p class="mb-8">
          Nuestro restobar se distingue por ofrecer una experiencia gastronómica única donde las alitas de pollo son
          las protagonistas. Cada receta ha sido cuidadosamente perfeccionada para garantizar el equilibrio perfecto
          entre sabor, textura y presentación.
        </p>

        <div class="grid grid-cols-2 gap-6">
          <div class="flex items-start mb-4">
            <div class="text-amber-500 mr-3">
              <i class="pi pi-home w-8 h-8 flex items-center justify-center"></i>
            </div>
            <p class="text-gray-300">Ambiente acogedor y música seleccionada.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-amber-500 mr-3">
              <i class="pi pi-heart w-8 h-8 flex items-center justify-center"></i>
            </div>
            <p class="text-gray-300">Ingredientes frescos y de primera calidad.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-amber-500 mr-3">
              <i class="pi pi-star w-8 h-8 flex items-center justify-center"></i>
            </div>
            <p class="text-gray-300">Salsas caseras con recetas exclusivas.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-amber-500 mr-3">
              <i class="pi pi-check-circle w-8 h-8 flex items-center justify-center"></i>
            </div>
            <p class="text-gray-300">Servicio atento y personalizado.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-amber-500 mr-3">
              <i class="pi pi-map-marker w-8 h-8 flex items-center justify-center"></i>
            </div>
            <p class="text-gray-300">Ubicación estratégica y fácil acceso.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-amber-500 mr-3">
              <i class="pi pi-thumbs-up w-8 h-8 flex items-center justify-center"></i>
            </div>
            <p class="text-gray-300">Cocciones perfectas y presentaciones únicas.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-amber-500 mr-3">
              <i class="pi pi-clock w-8 h-8 flex items-center justify-center"></i>
            </div>
            <p class="text-gray-300">Horario extendido para tu comodidad.</p>
          </div>
          <div class="flex items-start mb-4">
            <div class="text-amber-500 mr-3">
              <i class="pi pi-globe w-8 h-8 flex items-center justify-center"></i>
            </div>
            <p class="text-gray-300">Fusión de sabores internacionales en cada plato.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
