<div class="min-h-96 bg-surface-900 text-white">
  <app-header />

  <!-- About -->
  <section class="py-20 px-6 relative overflow-hidden">
    <div class="mx-auto max-w-3xl px-5 text-center md:px-10 lg:max-w-7xl">
      <h2 class="my-8 text-3xl tracking-tight sm:text-4xl md:text-4xl
                font-extrabold text-secondary-900 dark:text-secondary-50">¡Ponte en contacto con nosotros!</h2>
      <p class="mx-auto mb-8 mt-4 max-w-3xl text-secondary-600 dark:text-secondary-200 md:mb-12 lg:mb-16">
        ¡Contáctanos ahora para obtener más información
        sobre nuestros platos y servicios! Utiliza cualquiera de estos canales para comunicarte.
      </p>

      <div class="p-card p-shadow-5 mx-auto max-w-3xl mb-8">
        <div class="p-card-body">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 p-4">
            <!-- Teléfono -->
            <div
              class="p-d-flex p-flex-column p-ai-center text-center hover:scale-105 transition-transform duration-300">
              <div class="p-3 rounded-full bg-red-600 inline-flex mb-4 mx-auto">
                <i class="pi pi-phone text-white text-3xl"></i>
              </div>
              <h3 class="text-xl font-bold mb-2 text-secondary-900 dark:text-secondary-50">Teléfono</h3>
              <p class="text-secondary-600 dark:text-secondary-200">
                <a href="tel:+51955051526" target="_blank" class="hover:text-red-600 transition-colors">955 051 526</a>
              </p>
            </div>

            <!-- WhatsApp -->
            <div
              class="p-d-flex p-flex-column p-ai-center text-center hover:scale-105 transition-transform duration-300">
              <div class="p-3 rounded-full bg-green-500 inline-flex mb-4 mx-auto">
                <i class="pi pi-whatsapp text-white text-3xl"></i>
              </div>
              <h3 class="text-xl font-bold mb-2 text-secondary-900 dark:text-secondary-50">WhatsApp</h3>
              <p class="text-secondary-600 dark:text-secondary-200">
                <a href="https://wa.me/51955051526" target="_blank" class="hover:text-green-500 transition-colors">955
                  051 526</a>
              </p>
            </div>

            <!-- Correo -->
            <div
              class="p-d-flex p-flex-column p-ai-center text-center hover:scale-105 transition-transform duration-300">
              <div class="p-3 rounded-full bg-blue-500 inline-flex mb-4 mx-auto">
                <i class="pi pi-envelope text-white text-3xl"></i>
              </div>
              <h3 class="text-xl font-bold mb-2 text-secondary-900 dark:text-secondary-50">Correo</h3>
              <p class="text-secondary-600 dark:text-secondary-200">
                <a href="mailto:clubaloharestobar@gmail.com" target="_blank"
                  class="hover:text-blue-500 transition-colors">Enviar correo</a>
              </p>
            </div>

            <!-- Redes Sociales -->
            <div
              class="p-d-flex p-flex-column p-ai-center text-center hover:scale-105 transition-transform duration-300">
              <div class="p-3 rounded-full bg-purple-600 inline-flex mb-4 mx-auto">
                <i class="pi pi-globe text-white text-3xl"></i>
              </div>
              <h3 class="text-xl font-bold mb-2 text-secondary-900 dark:text-secondary-50">Síguenos</h3>
              <div class="p-d-flex p-jc-center gap-4 flex justify-center">
                <a href="https://www.tiktok.com/@aloha.restobar" target="_blank"
                  class="p-2 hover:text-blue-400 transition-colors">
                  <i class="pi pi-tiktok text-xl"></i>
                </a>
                <a href="https://www.facebook.com/share/16HoCToW8d/?mibextid=wwXIfr" target="_blank"
                  class="p-2 hover:text-blue-600 transition-colors">
                  <i class="pi pi-facebook text-xl"></i>
                </a>
                <a href="https://www.instagram.com/aloha.restobarpe" target="_blank"
                  class="p-2 hover:text-pink-600 transition-colors">
                  <i class="pi pi-instagram text-xl"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
