<div class="min-h-screen bg-surface-900 text-white">
  <app-header />

  <!-- menu -->
  <section class="py-16 px-6 bg-surface-900">
    <h2 class="text-4xl md:text-5xl font-bold text-center my-8">Nuestro menú</h2>

    <!-- Menu Categories -->
    <div class="flex flex-wrap justify-center py-4">
      <!-- Tag "Todas" -->
      <p-tag icon="pi pi-objects-column me-1" class="m-2 cursor-pointer"
        [severity]="categorias_select().length === 0 ? 'success' : 'secondary'" value="Todas"
        (click)="seleccionarTodas()" />

      <!-- Tags de categorías -->
      @for (categoria of categorias(); track categoria._id) {
      <p-tag [icon]="esCategoriaSeleccionada(categoria._id) ? 'pi pi-circle-on me-1' : 'pi pi-circle-off me-1'"
        class="m-2 cursor-pointer" [severity]="esCategoriaSeleccionada(categoria._id) ? 'success' : 'secondary'"
        [value]="categoria.descripcion" (click)="seleccionarCategoria(categoria._id)" />
      }
    </div>

    <div class="card">

      @if (loading()) {
      <div class="col-span-full text-center">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        <p>Cargando...</p>
      </div>
      }

      @if (!loading()) {
      <p-carousel [value]="platos()" [numVisible]="3" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions" autoplayInterval="5000">
        <ng-template let-product #item>
          <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
            <div class="mb-4">
              <div class="relative mx-auto">
                <img [src]="product.galeria[0] | cloudinaryImage:400:'avif'" [alt]="product.nombre"
                  class="w-full rounded-border" />
              </div>
            </div>
            <div class="mb-4 font-medium">{{ product.nombre }}</div>
            <div class="flex justify-between items-center">
              <div class="mt-0 font-medium text-lg">{{ product.precio | currency: 'S/ ' }}</div>
              <a href="https://wa.me/51955051526?text=¡Hola%20Aloha%20Restobar!%20%20Me%20encantaría%20saber%20si%20tienen%20disponible%20el%20plato%20'{{product.nombre}}'"
                target="_blank">
                <p-button label="Consultar" icon="pi pi-whatsapp" styleClass="ml-2" outlined="true" severity="success"
                  iconPos="right" />
              </a>
            </div>
          </div>
        </ng-template>
      </p-carousel>
      }

    </div>
  </section>
</div>
