<div class="card">
  <p-fieldset>
    <ng-template #header>
      <div class="flex items-center gap-4 px-2">
        <i class="pi pi-lock text-2xl text-primary"></i>
        <span class="font-bold text-primary">Cierre de caja</span>

        <p-button label="Confirmar" [raised]="true" icon="pi pi-check" severity="success" size="small"
          (onClick)="showDialog()" />

        <i class="pi pi-calendar-clock text-xl cursor-pointer" [routerLink]="['/admin/historial-cierre-caja']"></i>
      </div>

    </ng-template>

    <!-- Contenedor principal que centra vertical y horizontalmente -->
    <div class="flex flex-col justify-center items-center">

      <!-- Contenedor de grid responsive -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-full">

        @if (loading()) {
        <div class="col-span-full text-center">
          <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
          <p>Cargando...</p>
        </div>
        }

        @if (!loading()) {
        @for (nota of notaVentas(); track nota._id) {
        <p-fieldset>
          <ng-template #header>
            <div class="flex items-center gap-4">
              <span class="font-medium">{{nota.codigo}} | <span class="text-sm text-gray-400">
                  <i class="pi pi-calendar text-sm mx-1"></i> {{nota.createdAt | date:'dd/MM/YY hh:mm aa'}}
                </span></span>

              <p-button icon="pi pi-cloud-download" [rounded]="true" [text]="true" [raised]="true" severity="success"
                size="small" (onClick)="dscargarPdfNotaVenta(nota.codigo)" />
            </div>
          </ng-template>

          <p class="text-center mb-2">
            <span class="text-xl font-semibold text-primary">Mesa {{nota.mesa}}
              @if (nota.PorcentajeDescuento > 0) {
              <p-tag [value]="'- ' + nota.PorcentajeDescuento.toString() + '%'" severity="secondary" class="ms-1" />
              }
            </span>
          </p>

          <div class="card">
            <p-table>
              <ng-template #header>
                @for (plato of nota.platos; track $index) {
                <tr>
                  <td> {{plato.nombre}} </td>
                  <td class="text-center text-sm">S/ {{plato.precio}} </td>
                  <td class="text-center"> <i class="pi pi-times text-xs"></i> {{plato.cantidad}} </td>
                  <td class="text-end text-sm">S/ {{plato.subtotal}}</td>
                </tr>
                }
              </ng-template>
            </p-table>
          </div>

          <div class="flex justify-between py-1 px-2 mt-4 bg-gray-300/20 rounded">
            <div class="font-medium">Total:</div>
            <div class="font-medium"> {{nota.total | currency: 'S/ '}}</div>
          </div>

        </p-fieldset>

        }
        }
      </div>
    </div>

    <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 py-2">
      @for (movimiento of movimientosinventario(); track movimiento._id) {
      <div class="card">
        <p-panel>
          <ng-template #header class="p-1">
            <div class="flex items-center gap-2">
              <img [src]="movimiento.producto.galeria[0] | cloudinaryImage:200:'avif'" alt="" class="w-12 rounded">
              <span class="font-bold">{{movimiento.producto.codigo | uppercase}}</span>
            </div>
          </ng-template>

          <p class="m-0">
            {{movimiento.producto.nombre | titlecase}} <p-tag severity="secondary" icon="pi pi-times"
              class="text-sm ms-1" [value]="movimiento.cantidad.toString()" />
          </p>

          <div class="flex flex-wrap items-center justify-between gap-4 mt-1">
            <span class="text-sm text-surface-500 dark:text-surface-400">

              <p-tag [severity]="movimiento.tipo == 'entrada' ? 'success':'warn'" class="text-sm"
                [value]="movimiento.tipo | uppercase" />

              <span class="ms-2">
                Creado {{movimiento.createdAt | date: 'shortDate'}}
              </span>
            </span>
          </div>
        </p-panel>
      </div>
      }
    </div> -->
  </p-fieldset>
</div>

<!-- Modal de registro de movimiento -->
<p-dialog header="Confirmar cierre" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }"
  maskStyleClass="backdrop-blur-sm">

  <p class="small mt-4 mb-1">Seleccione fecha de cierre</p>
  <div class="card flex justify-center mb-6">
    <p-datepicker [(ngModel)]="fechaCierre" [maxDate]="fechaCierre" [showIcon]="true" inputId="inicio"
      placeholder="Inicio" readonlyInput="true" size="small" class="w-full" fluid="true" />
  </div>

  <div class="card mt-8">
    <p-message severity="secondary">
      <p>
        Seleccione la fecha para el cual se registrará el cierre de caja.
        <small class="font-semibold">Como máximo se puede seleccionar el día actual.</small>
      </p>
    </p-message>
  </div>

  <div class="card mt-8">
    <p-message severity="warn">Recuerda, el cierre de caja se hace solo una vez por día.</p-message>
  </div>

  <div class="card flex justify-center my-8">
    <p-button label="Confirmar cierre" severity="success" icon="pi pi-check" (onClick)="registrarCierre()" />
  </div>

</p-dialog>

<p-toast [breakpoints]="{ '780px': { width: '80%', right: '8' } }" />
