<div class="min-h-screen bg-surface-900 text-white">
  <app-header />

  <!-- About -->
  <section class="py-20 px-6 relative overflow-hidden">
    <div class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2 mt-8">
      <div class="relative h-[400px] md:h-auto">
        <img
          src="https://res.cloudinary.com/dtttoiss7/image/upload/f_avif/v1748904549/interior2_abnahe.jpg"
          alt="Restaurant interior" class="w-full h-full object-cover rounded-tl-xl" />
      </div>

      <div class="flex flex-col justify-center bg-surface-800 p-8 rounded-br-xl">
        <h2 class="text-4xl md:text-5xl font-semibold mb-4">Nosotros</h2>
        <p class="text-gray-300 text-sm">
          En Aloha, cada visita es una invitación a desconectarse del ritmo diario y sumergirse en una experiencia
          tropical única. Nos inspira brindar momentos inolvidables a través de una atención cercana, una cocina sabrosa
          y cocteles artesanales servidos en originales vasos tiki, todo en un entorno vibrante y relajado. <br><br>

          Más que un restobar, somos un destino donde la buena comida, la música, el color y la energía positiva se
          encuentran para que compartas con amigos, celebres ocasiones especiales o simplemente disfrutes del presente.
          Nuestro compromiso es ofrecer sabores intensos, cocteles exóticos y un ambiente pensado para sorprender,
          cuidando cada detalle para que cada momento sea especial.
        </p>
      </div>
    </div>

    <div class="max-w-4xl mx-auto mt-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

        <!-- Misión -->
        <div class="rounded-lg bg-surface-800 p-6">
          <div class="flex justify-between">
            <span class="font-semibold text-2xl">Misión</span>
            <span>
              <i class="pi pi-bullseye text-3xl"></i>
            </span>
          </div>

          <p class="text-sm mt-2">
            Brindar a nuestros clientes una experiencia inolvidable a través de una atención cálida, una oferta
            gastronómica deliciosa y cocteles artesanales servidos en originales vasos tiki, todo dentro de un ambiente
            tropical y vibrante ideal para compartir con amigos y celebrar la vida.
          </p>
        </div>

        <!-- Visión -->
        <div class="rounded-lg bg-surface-800 p-6">
          <div class="flex justify-between">
            <span class="font-semibold text-2xl">Visión</span>
            <span>
              <i class="pi pi-eye text-3xl"></i>
            </span>
          </div>

          <p class="text-sm mt-2">
            Ser el restobar tropical líder en la ciudad, reconocido por ofrecer una experiencia única que combina
            sabores intensos, cocteles exóticos y un ambiente alegre y relajado, transportando a nuestros clientes a un
            paraíso de buen sabor, música y diversión.
          </p>
        </div>

      </div>
    </div>

  </section>
</div>
