<div class="min-h-screen bg-surface-900 text-white">
  <app-header />

  <!-- About -->
  <section class="py-20 px-6 relative overflow-hidden">
    <div class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2 mt-8">
      <div class="relative h-[400px] md:h-auto">
        <img
          src="https://res.cloudinary.com/dtttoiss7/image/upload/f_avif,q_60/v1747526859/interior-restaurant_emxdke.png"
          alt="Restaurant interior" class="w-full h-full object-cover rounded-tl-xl" />
      </div>

      <div class="flex flex-col justify-center bg-surface-800 p-8 rounded-br-xl">
        <h2 class="text-4xl md:text-5xl font-semibold mb-8">Nosotros</h2>
        <p class="text-gray-300 mb-6 text-lg">
          Somos un restobar especializado en ofrecerte tragos hawaianos XD
        </p>
        <p class="text-gray-300 mb-8">Te esperamos todos los días desde las 7:00 pm hasta 12:00 am.</p>
      </div>
    </div>

    <div class="max-w-4xl mx-auto mt-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <!-- Misión -->
        <div class="rounded-lg bg-surface-800 p-6">
          <div class="flex justify-between">
            <span class="font-semibold text-2xl">Misión</span>
            <span>
              <i class="pi pi-eye text-3xl"></i>
            </span>
          </div>

          <p class="text-sm mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>

        <!-- Visión -->
        <div class="rounded-lg bg-surface-800 p-6">
          <div class="flex justify-between">
            <span class="font-semibold text-2xl">Visión</span>
            <span>
              <i class="pi pi-eye text-3xl"></i>
            </span>
          </div>

          <p class="text-sm mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>

      </div>
    </div>

  </section>
</div>
