<div class="card">
  <p-fieldset>
    <ng-template #header>
      <div class="flex items-center gap-4 px-2 text-primary">
        <i class="pi pi-users text-2xl"></i>
        <span class="font-bold">Usuarios</span>

        <p-button label="Agregar" [raised]="true" icon="pi pi-plus" severity="secondary" size="small"
          (click)="showDialog()" />
      </div>
    </ng-template>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      @for (user of users(); track user._id) {
      <div class="card">
        <p-panel>
          <ng-template #header class="p-1">
            <div class="flex items-center gap-2">
              <i class="pi pi-user text-xl"></i>
              <span class="font-bold text-sm"> {{user.username}} </span>
            </div>
          </ng-template>
          <ng-template #icons>

            <p-button icon="pi pi-pencil" severity="success" outlined="true" variant="text" size="small" class="me-1"
              rounded (click)="showDialogUpdate(user)" />

            <p-button icon="pi pi-key" severity="secondary" outlined="true" variant="text" size="small" class="me-1"
              rounded (click)="showDialogUpdatePass(user)" />

            <p-confirmpopup />
            <p-button icon="pi pi-trash" severity="danger" outlined="true" variant="text" size="small" rounded
              [disabled]="user.role == 'ADMIN'" (click)="confirmDelete($event, user.username, user._id)" />
          </ng-template>
          <p class="m-0">
            {{user.nombres | titlecase}} {{user.apellidos | titlecase}} <p-tag severity="success" [value]="user.role" />
          </p>

          <div class="flex flex-wrap items-center justify-between gap-4 mt-2">
            <p-button label="Sueldo" icon="pi pi-money-bill" severity="primary" outlined="true" size="small"
              class="me-1" rounded [routerLink]="['/admin/usuarios/sueldo', user._id]"/>

            <span class="text-xs">
              Reg. {{user.createdAt | date: 'short'}}
            </span>
          </div>
        </p-panel>
      </div>
      }
    </div>
  </p-fieldset>
</div>

<!-- Modal de registro de usuarios -->
<p-dialog header="Registrar usuario" [modal]="true" [(visible)]="visible" [style]="{ width: '22rem' }"
  maskStyleClass="backdrop-blur-sm">
  <span class="p-text-secondary block mb-8 text-sm">Registra un usuario rellenando el formulario.</span>
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-col">
      <p-floatlabel variant="on">
        <input id="nombres" pInputText formControlName="nombres" autocomplete="off" fluid="true" />
        <label for="nombres" class="rounded">
          <i class="pi pi-user me-1"></i>
          Nombres
        </label>
      </p-floatlabel>

      @if (isInvalid('nombres', registroForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('nombres', registroForm) }}</small>
      }
    </div>

    <div class="flex flex-col">
      <p-floatlabel variant="on">
        <input id="apellidos" pInputText formControlName="apellidos" autocomplete="off" fluid="true" />
        <label for="apellidos" class="rounded">
          <i class="pi pi-user me-1"></i>
          Apellidos
        </label>
      </p-floatlabel>

      @if (isInvalid('apellidos', registroForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('apellidos', registroForm) }}</small>
      }
    </div>

    <div class="flex flex-col">
      <p-floatlabel class="w-full" variant="on">
        <p-select id="role" formControlName="role" inputId="role" [options]="roles" optionLabel="name"
          styleClass="w-full" />
        <label for="role"><i class="pi pi-hammer me-1"></i> Tpo de usuario</label>
      </p-floatlabel>

      @if (isInvalid('role', registroForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('role', registroForm) }}</small>
      }
    </div>

    <div class="flex flex-col">
      <p-floatlabel variant="on">
        <input id="username" pInputText formControlName="username" autocomplete="off" fluid="true" />
        <label for="username" class="rounded">
          <i class="pi pi-at me-1"></i>
          Usuario
        </label>
      </p-floatlabel>

      @if (isInvalid('username', registroForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('username', registroForm) }}</small>
      }
    </div>

    <div class="flex flex-col my-4">
      <p-floatlabel variant="on">
        <p-password id="password" formControlName="password" inputId="password" fluid="true" [toggleMask]="true"
          [feedback]="false" autocomplete="off" />
        <label for="password" class="rounded">
          <i class="pi pi-key me-1"></i>
          Contraseña
        </label>
      </p-floatlabel>

      @if (isInvalid('password', registroForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('password', registroForm) }}</small>
      }
    </div>

    <div class="flex justify-center">
      <p-button type="submit" [disabled]="registroForm.invalid || isLoading" label="Registrar usuario"
        icon="pi pi-user-plus" [loading]="isLoading" />
    </div>
  </form>
</p-dialog>

<!-- Modal de actualizacion de usuarios -->
<p-dialog header="Actualizar datos" [modal]="true" [(visible)]="visibleUpdate" [style]="{ width: '22rem' }"
  maskStyleClass="backdrop-blur-sm">

  <form [formGroup]="updateForm" (ngSubmit)="onUpdateSubmit()" class="flex flex-col gap-4">

    <div class="flex flex-col mt-2">
      <p-floatlabel class="w-full" variant="on">
        <p-select id="role" formControlName="role" inputId="role" [options]="roles" optionLabel="name"
          styleClass="w-full" />
        <label for="role"><i class="pi pi-hammer me-1"></i> Tpo de usuario</label>
      </p-floatlabel>

      @if (isInvalid('role', updateForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('role', updateForm) }}</small>
      }
    </div>

    <div class="flex flex-col">
      <p-floatlabel variant="on">
        <input id="nombres" pInputText formControlName="nombres" autocomplete="off" fluid="true" />
        <label for="nombres" class="rounded">
          <i class="pi pi-user me-1"></i>
          Nombres
        </label>
      </p-floatlabel>

      @if (isInvalid('nombres', updateForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('nombres', updateForm) }}</small>
      }
    </div>

    <div class="flex flex-col">
      <p-floatlabel variant="on">
        <input id="apellidos" pInputText formControlName="apellidos" autocomplete="off" fluid="true" />
        <label for="apellidos" class="rounded">
          <i class="pi pi-user me-1"></i>
          Apellidos
        </label>
      </p-floatlabel>

      @if (isInvalid('apellidos', updateForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('apellidos', updateForm) }}</small>
      }
    </div>

    <div class="flex flex-col">
      <p-floatlabel variant="on">
        <input id="sueldo" pInputText formControlName="sueldo" autocomplete="off" fluid="true" min="0" />
        <label for="sueldo" class="rounded">
          <i class="pi pi-dollar me-1"></i>
          Sueldo
        </label>
      </p-floatlabel>

      @if (isInvalid('sueldo', updateForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('sueldo', updateForm) }}</small>
      }
    </div>

    <!-- <div class="card">
      <p-message closable severity="warn">El usuario no es actualizable</p-message>
    </div> -->

    <div class="flex justify-center">
      <p-button type="submit" [disabled]="updateForm.invalid || isLoading" label="Actualizar usuario" icon="pi pi-check"
        [loading]="isLoading" />
    </div>
  </form>
</p-dialog>

<!-- Modal para actualizar contraseña -->
<p-dialog header="Cambiar contraseña" [modal]="true" [(visible)]="visibleUpdatePass" [style]="{ width: '22rem' }"
  maskStyleClass="backdrop-blur-sm">

  <form [formGroup]="passForm" (ngSubmit)="onUpdatePassSubmit()" class="flex flex-col gap-4">

    <div class="flex flex-col my-4">
      <p-floatlabel variant="on">
        <p-password id="newPassword" formControlName="newPassword" inputId="newPassword" fluid="true"
          [toggleMask]="true" [feedback]="false" autocomplete="off" />
        <label for="newPassword" class="rounded">
          <i class="pi pi-key me-1"></i>
          Contraseña nueva
        </label>
      </p-floatlabel>

      @if (isInvalid('newPassword', passForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('newPassword', passForm) }}</small>
      }
    </div>

    <div class="flex justify-center">
      <p-button type="submit" [disabled]="passForm.invalid || isLoading" label="Actualizar contraseña" icon="pi pi-key"
        [loading]="isLoading" />
    </div>
  </form>
</p-dialog>


<p-toast />
