<div class="card">
  <p-fieldset>
    <ng-template #header>
      <div class="flex items-center gap-4 px-2 text-primary">
        <i class="pi pi-arrow-down text-2xl"></i>
        <span class="font-bold">Gastos personal</span>

        <p-button label="Agregar" [raised]="true" icon="pi pi-plus" severity="secondary" size="small"
          (click)="showDialog()" />
      </div>
    </ng-template>


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 py-2">
      @for (gasto of gastosFiltrados() | paginate:currentPage:pageSize; track gasto._id) {
      @if (gasto.monto) {
      <div class="card">
        <p-panel>
          <ng-template #header class="p-1">
            <div class="flex items-center gap-2">
              <span class="font-bold">{{gasto.concepto}}</span>
            </div>
          </ng-template>
          <ng-template #icons>

            <p-confirmpopup />

            <p-button icon="pi pi-trash" severity="danger" outlined="true" variant="text" size="small" rounded
              (click)="eliminarGasto($event, gasto._id, 'Otros')" />
          </ng-template>

          <p class="m-0">
            {{gasto.monto | currency: 'S/. '}} <i class="pi pi-arrow-right text-sm mx-2 text-primary"></i>
            {{gasto.empleado.nombres}}
            {{gasto.empleado.apellidos}}
          </p>

          <div class="flex flex-wrap items-center justify-between gap-4 mt-1">
            <span class="text-sm">

              <p>
                Creado {{gasto.createdAt | date: 'dd/MM/YY'}}
              </p>

              <p class="font-semibold">

              </p>
            </span>
          </div>

          <div class="flex justify-between py-1 px-2 mt-4 bg-gray-300/20 rounded text-sm">
            <span>Registrado por:</span>
            <span class="font-semibold"> {{gasto.admin.nombres}}
              {{gasto.admin.apellidos}}</span>
          </div>
        </p-panel>
      </div>
      }

      @if (gasto.subtotal) {
      <div class="card">
        <p-panel>
          <ng-template #header>
            <div class="flex items-center gap-2">
              <span>Platos <i class="pi pi-arrow-right text-sm mx-2 text-primary"></i>
                {{gasto.empleado.nombres}}
                {{gasto.empleado.apellidos}} </span>
            </div>
          </ng-template>
          <ng-template #icons>

            <p-confirmpopup />

            <p-button icon="pi pi-trash" severity="danger" outlined="true" variant="text" size="small" rounded
              (click)="eliminarGasto($event, gasto._id, 'Plato')" />
          </ng-template>

          <div class="card">
            <p-table>
              <ng-template #header>
                @for (plato of gasto.platos; track $index) {
                <tr>
                  <td> {{plato.nombre}} </td>
                  <td class="text-center text-sm">S/ {{plato.precio}} </td>
                  <td class="text-center"> <i class="pi pi-times text-xs"></i> {{plato.cantidad}} </td>
                  <td class="text-end text-sm">S/ {{plato.subtotal}}</td>
                </tr>
                }
              </ng-template>
            </p-table>
          </div>

          <div class="flex justify-between py-1 px-2 mt-4 bg-gray-300/20 rounded text-sm">
            <span>Reg. ({{gasto.createdAt | date: 'dd/MM/YY'}}) por:</span>
            <span class="font-semibold"> {{gasto.admin.nombres}}
              {{gasto.admin.apellidos}}</span>
          </div>

          <div class="flex justify-between py-1 px-2 mt-4 bg-green-400/20 rounded">
            <div class="font-medium">Total:</div>
            <div class="font-medium"> {{gasto.total | currency: 'S/ '}}</div>
          </div>
        </p-panel>
      </div>
      }
      }
    </div>

    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)" />
  </p-fieldset>

</div>

<!-- Modal de registro de gasto -->
<p-dialog header="Registrar gasto personal" [modal]="true" [(visible)]="showModal" [style]="{ width: '25rem' }"
  maskStyleClass="backdrop-blur-sm" (onHide)="closeDialog()">

  <div class="card flex justify-center mb-6 w-full">
    <p-select [options]="opciones" [(ngModel)]="selectedOpc" optionLabel="name" placeholder="Tipo de gasto" fluid="true"
      class="w-full" />
  </div>

  @if (selectedOpc.code === 'Otros') {
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">

    <div class="">
      <div class="card flex justify-center w-full">
        <p-select [options]="usuarios()" formControlName="empleado" optionLabel="nombres" optionValue="_id"
          placeholder="Seleccionar Usuario" fluid="true" class="w-full" />
      </div>
      <!-- Validación para el select de empleado -->
      @if (isInvalid('empleado', registroForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('empleado', registroForm) }}</small>
      }
    </div>


    <div class="flex flex-col mt-2">
      <p-floatlabel variant="on">
        <input id="concepto" pInputText formControlName="concepto" autocomplete="off" fluid="true" />
        <label for="concepto" class="rounded">
          <i class="pi pi-comment me-1"></i>
          Concepto
        </label>
      </p-floatlabel>

      @if (isInvalid('concepto', registroForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('concepto', registroForm) }}</small>
      }
    </div>


    <div class="flex flex-col mt-2">
      <p-floatlabel variant="on">
        <input id="monto" pInputText formControlName="monto" autocomplete="off" fluid="true" />
        <label for="monto" class="rounded">
          <i class="pi pi-dollar me-1"></i>
          Monto
        </label>
      </p-floatlabel>

      @if (isInvalid('monto', registroForm)) {
      <small class="text-red-400 mt-1">{{ getErrorMessage('monto', registroForm) }}</small>
      }
    </div>

    <div class="flex justify-center gap-2 py-4">
      <p-button label="Cancelar" severity="secondary" (click)="closeDialog()" />
      <p-button type="submit" [disabled]="registroForm.invalid || isLoading" label="Registrar gasto" icon="pi pi-plus"
        [loading]="isLoading" />
    </div>
  </form>
  }

  @if (selectedOpc.code === 'Plato') {
  <p-multiselect [options]="platos()" [(ngModel)]="selectedPlatos" placeholder="Seleccione platos" optionLabel="nombre"
    styleClass="w-full" display="chip" (onChange)="onPlatoSelect($event)">
    <ng-template pTemplate="item" let-plato>
      <div class="flex items-center gap-2">
        <img [src]="plato.galeria[0] | cloudinaryImage:100:'avif'" style="width: 24px" class="rounded" />
        <div>{{ plato.nombre }}</div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <div class="font-medium px-3 py-2">Seleccione platos o bebidas</div>
    </ng-template>
  </p-multiselect>

  <div class="card flex justify-center my-6 w-full">
    <p-select [options]="usuarios()" [(ngModel)]="selectedUser" optionLabel="nombres" placeholder="Empleado"
      fluid="true" class="w-full" />
  </div>


  <div class="card mt-4">
    <p-dataView #dv [value]="selectedPlatos">
      <ng-template #list let-items>
        <div class="">
          <div class="col-12" *ngFor="let item of items; let first = first">
            <div class="flex p-4 gap-4" [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }">
              <!-- Imagen a la izquierda -->
              <div class="flex-none w-30">
                <img class="rounded-border w-full" [src]="item.galeria[0] | cloudinaryImage:150:'avif'"
                  [alt]="item.nombre" />
              </div>

              <!-- Contenido a la derecha alineado verticalmente con la imagen -->
              <div class="">
                <!-- Nombre del producto -->
                <div class="font-medium text-green-500">{{ item.nombre }}</div>

                <!-- Precio y precio total -->
                <div class="flex justify-between mt-2">
                  <span class="text-xl font-semibold">
                    {{item.precio | currency:'S/ '}}
                  </span>
                </div>

                <!-- Control de cantidad -->
                <div class="flex gap-2 items-center mt-2">
                  <p-button icon="pi pi-minus" severity="secondary" (click)="decrementarCantidad(item)" />

                  <input pInputText type="number" [value]="item.cantidad" style="width: 60px" class="text-center"
                    (change)="actualizarCantidad(item, $event)" />

                  <p-button icon="pi pi-plus" severity="secondary" (click)="incrementarCantidad(item)" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="empty">
        <div class="text-center p-4">
          <p>Seleccione platos para agregar a la venta</p>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <!-- Resumen de la venta -->
  <div class="flex justify-between p-4 mt-4 bg-gray-300/30 rounded-md">
    <div class="text-lg font-bold">Subtotal:</div>
    <div class="text-lg font-bold">{{subtotal | currency:'S/ '}}</div>
  </div>

  <div class="flex justify-center gap-2 mt-4 mb-8">
    <p-button label="Cancelar" severity="secondary" (click)="closeDialog()" />
    <p-button label="Registrar gasto" icon="pi pi-plus" [disabled]="selectedPlatos.length === 0 || !selectedUser._id"
      (click)="guardarVenta()" [loading]="loading()" />
  </div>
  }

</p-dialog>

<p-toast />
