<footer class="py-16 bg-surface-900 text-white border-t border-surface-500">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-12">
      <!-- Logo y descripción -->
      <div class="md:border-r border-surface-500 pr-8">
        <div class="flex justify-center">
          <img src="../../../../../assets/images/logo.png" alt="Logo aloha restobar" width="160" [routerLink]="['/']"
            class="cursor-pointer">
        </div>

        <p class="text-gray-300 text-sm my-8">
          ¡Sumérgete en una explosión de sabores! Con nuestras alitas crujientes y refrescantes creaciones tropicales
          hasta
          exóticas mezclas hawaianas
        </p>
        <div>
          <p class="mb-4 text-white">Síguenos en:</p>
          <div class="flex space-x-4">
            <a href="https://www.tiktok.com/@aloha.restobar" target="_blank"
              class="w-8 h-8 rounded-full bg-white flex items-center justify-center">
              <i class="pi pi-tiktok text-black hover:text-sky-400"></i>
            </a>
            <a href="https://www.facebook.com/share/16HoCToW8d/?mibextid=wwXIfr" target="_blank"
              class="w-8 h-8 rounded-full bg-white flex items-center justify-center">
              <i class="pi pi-facebook text-black hover:text-blue-500"></i>
            </a>
            <a href="https://www.instagram.com/aloha.restobarpe" target="_blank"
              class="w-8 h-8 rounded-full bg-white flex items-center justify-center">
              <i class="pi pi-instagram text-black hover:text-pink-500"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Contact Us -->
      <div class="md:border-r border-surface-500 pr-4">
        <h3 class="text-xl font-serif text-primary mb-6">Contáctanos</h3>
        <div class="space-y-6">
          <div>
            <p class="text-white font-semibold mb-2">Dirección:</p>
            <p class="text-white">
              <a href="https://maps.app.goo.gl/x6JWCw2SRvKPNWASA" target="_blank">
                Jr. Cusco N° 246, Ayacucho, Peru
              </a>
            </p>
          </div>
          <div>
            <p class="text-white font-semibold mb-2">Teléfono:</p>
            <p class="text-white">955 051 526</p>
          </div>
          <div>
            <p class="text-white font-semibold mb-2">Correo electrónico:</p>
            <p class="text-white">clubaloharestobar&#64;gmail.com</p>
          </div>
        </div>
      </div>

      <!-- Opening Hours -->
      <div class="">
        <h3 class="text-xl font-serif text-primary mb-6">Horario de atención</h3>
        <div class="space-y-4">
          <div>
            <p class="text-white">Lunes - Domingo : 05 PM a 12 AM</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Línea divisoria -->
    <div class="border-t border-surface-500 pt-8 mt-8">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <p class="text-gray-300 text-sm">Copyright © 2025 ALOHA Restobar</p>

        <div class="flex flex-col md:flex-row items-center mt-4 md:mt-0">

          <div class="text-gray-300 text-sm">
            <a routerLink="/terminos-condiciones" class="hover:text-primary">Términos y condiciones</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
